/* 主题色 */
$themeColor:#0EBF9C;
/* 黑色字体 */
$textColor:#333;
/* 橘黄色 */
$orangeColor:#FF9F23;
/* 灰色 */
$grayColor: #999;
/* 菜单栏的下划线 */
$bottomColor: #3f4756;
/* 边框颜色 */
$borderColor:#efefef;
/* 警告红色 */
$dangerColor:#f56c6c;





/* 菜单栏高度 */
$menuHeight:59px;
/* 详情版块宽度 */
$commonWidth:560px;
/* 公共行高 */
$commonLineHeight:30px;



